.experience {
	padding: 40px 7%;
}

.experience h1 {
    margin-bottom: 40px;
}

.experience .experiences {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 60px;
    row-gap: 5px;
    background-color: #18171b;
    border: 2px solid var(--ctn-border-color);
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
}

.experience .experiences .experienceitem:nth-last-child(2),
.experience .experiences .experienceitem:nth-last-child(1) {
    border: none;
}
