.separator {
    width: 2px;
    height: 80px;
    background: var(--ctn-border-color);
    margin-inline: 20px;
}

.listprojectssection {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

.listprojectssection .maincontent {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    background: #18171b;
    border: 1px solid var(--ctn-border-color);
    border-radius: 20px;
    margin-bottom: 30px;
}

.listprojectssection .maincontent .itemStatistics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listprojectssection .maincontent .itemStatistics p {
    margin-bottom: 10px;
}

.listprojectssection .projects {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}